* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    font-family: Helvetica, Arial,sans-serif;
}

img {
    width: 80%;
}

body {
    background: linear-gradient(90deg, rgba(0, 89, 255, 0.25) 25%,
     rgb(0, 140, 255) 60%);
}

header {
    height: 2rem;
    width: 100%;
}

h1 {
    margin-top: 2%;
    margin-left: 11%;
    font-size:4rem;
}

main {
    width: 100%;
}

.trabajo {
    display: flex;
    width: 100%;
    height: 90%;
}



.entrada, .salida {
    height: 70%;
    width: 50%;
    margin: 3%;
    text-align: center;
}

.salida {
    border: 2px solid black;
    width: 25%;
    height: 85%;
    margin-top: -1%;
    padding: 0.3%;
}

.no-cont {
    margin-top: 50%;
    text-align: center;
    justify-content: center;
}

.cont {
    display: none;
}


button {
    width: 20%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

p.salida {
    border: 0;
}

textarea {
    border: 0;
    resize: none;
    width: 85%;
    height: 100%;
    background: none;
    margin-bottom: 2%;
}

#encriptar:active, #desencriptar:active, #copiar:active {
    background-color: aqua;
}

@media screen and (min-width: 481px) and (max-width: 780px) {
    header {
        height: auto;
    }

    main {
        height: max-content;
    }

    textarea {
        height: 90vh;
    }

    .entrada {
        height: fit-content;
        margin-bottom: auto;
    }

    .salida {
        margin-top: auto;
        margin-right: 2.5%;
    }

    button {
        margin: auto;
    }

    main, body {
        display: block;
    }
    
    .trabajo {
        display : block;
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    #encriptar, #desencriptar {
        margin-left: 2.5%;
        margin-bottom: 3%;
        width: 40%;
    }

    .entrada, .salida {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    footer {
        margin-top: 2%;
        bottom: 0;
    }

    body {
        background: linear-gradient(180deg, rgba(0, 89, 255, 0.25) 25%,
     rgb(0, 140, 255) 60%);
    }
}

@media screen and (max-width: 480px) {
    body {
        background: linear-gradient(180deg, rgba(0, 89, 255, 0.25) 25%,
     rgb(0, 140, 255) 60%);
    }
    header {
        height: auto;
    }

    main {
        height: max-content;
    }

    textarea {
        height: 90vh;
    }

    .entrada {
        height: fit-content;
        margin-bottom: auto;
    }

    .salida {
        margin-top: auto;
        margin-right: 2.5%;
    }

    button {
        margin: auto;
    }

    main, body {
        display: block;
    }
    .trabajo {
        display : block;
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    #encriptar, #desencriptar {
        display: block;
        margin-left: 5%;
        margin-bottom: 5px;
        width: 90%;
    }

    .entrada, .salida {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    footer {
        margin-top: 2%;
        bottom: 0;
    }
}
